<div *ngIf="topic !== undefined && info; else error" class="features h100 d-block">
  <article class="cdkdb">
    <div class="content h100 d-flex flex-column">
      <h3 style="font-weight: bold">{{info.title}}</h3>
    </div>
    <div class="note-box" cdkDragBoundary=".cdkdb" cdkDrag>
      <button (click)="openDialog()" matTooltip="Notes"><i class="fa-solid fa-pen-to-square"></i></button>
    </div>
  </article>
  <div class="exercice">
    <mat-stepper class="h100">
        <mat-step *ngFor="let exemple of info.exemple" [label]="exemple.label">
          <a *ngIf="exemple.link" [href]="exemple.link" target="_blank">
            <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{exemple:exemple}"></ng-container>
          </a>
          <ng-container *ngIf="!exemple.link" [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{exemple:exemple}"></ng-container>
        </mat-step>
    </mat-stepper>
  </div>
</div>
<ng-template #error>
  Error
</ng-template>
<ng-template #content let-exemple="exemple">
  <ng-container [ngSwitch]="exemple.type">
    <div *ngSwitchDefault [innerHTML]="exemple.content" class="d-flex flex-column justify-content-between h100"></div>
    <pre *ngSwitchCase="'code'" style="height: 100%"><code [highlight]="exemple.content| style"></code></pre>
    <div *ngSwitchCase="'image'" class="d-flex h100 justify-content-center">
      <img [src]="'/assets/images/' + exemple.content" [alt]="exemple.label">
    </div>
  </ng-container>
</ng-template>
